@tailwind base;
@tailwind components;
@tailwind utilities;
:root{
    --bg:white;
    --text:#1B254B;
}

[data-theme="black"]{
    --bg:#1B254B;
    --text:white
}

.nav-container{
    background: #e9eff848;
    backdrop-filter: blur(10px);
}

.color-styling{
    background: #ddebf7;
}
.nft-discover{
    background: linear-gradient(blue,rgb(84, 84, 181));
}

.ant-table-wrapper .ant-table-thead >tr>th {
    background: white !important;
}
.moon{
    transform: rotate(134deg);
  transform-origin: center;
}